        ApplyToMatrix normalizeOp = new ApplyToMatrix( data);
        normalizeOp.setSummarizeMode( ApplyToMatrix.SummarizeMode.ROW);
        normalizeOp.setSummarizeOp( new ALDArrayMean());
        normalizeOp.runOp();
