    /**
     * Summarizing opererator
     */
    @Parameter( label= "Summarizing operator", required = true, 
          direction = Parameter.Direction.IN, 
          description = "Specifies the summarizing operation to apply")
    private ALDSummarizeArrayOp summarizeOp;
